@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  --main-bg-color: #ffffff;
  --main-text-color: #313131;
  --accent-color: #eb7f3f;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

a {
  color: var(--main-text-color);
}

button {
  padding: 0.3rem;
  width: max-content;
  margin: 0.5rem auto 0 auto;
  cursor: pointer;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  background-color: transparent;
  font-weight: 600;
  color: var(--main-text-color);
}

button:hover {
  background-color: var(--accent-color);
  color: white;
}

h1,
h2 {
  font-family: 'Great Vibes', cursive;
  margin: 3rem auto 0.5rem auto;
}

h2 {
  font-size: 2rem;
}

ul {
  padding: 0;
  list-style-type: '♡';
}

li {
  margin: 0 auto;
  width: max-content;
}

p {
  max-width: 70%;
  margin: 0 auto;
}

.content {
  margin: 13vw auto 2rem auto;
  padding-top: 2rem;
  z-index: 500;
  background-color: var(--main-bg-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.hero {
  height: 95vh;
  width: 100vw;
}

.hero h1 {
  font-size: 5rem;
}

.hero h3 {
  font-family: 'Great Vibes', cursive;
  margin: 0 auto;
  font-size: 3rem;
}

.input-style {
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  font-size: 14px;
  color: var(--main-text-color);
  margin: 0.5rem auto;
  width: 70%;
}

.parallax-image {
  object-fit: cover;
  height: 100%;
  width: 100vw;
  margin-top: 0;
}

.parallax-text {
  z-index: 200;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--main-text-color);
  text-align: center;
}

footer {
  padding: 0.5rem;
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: var(--main-bg-color);
  text-decoration: none;
  margin: 0 0.5em;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  p {
    max-width: 90%;
  }
}
